<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{title}}{% endblock %</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/header_login.css')}}">
</head>
<body>
    <!-- Encabezado de la pagina -->
    <header>
        <div class="heading">
          <!-- Logo de la pagina -->
          <h1>Logo</h1>
          <!-- Enlaces al registro e inicio de la pagina -->
          <a href="#" class="enlace">cerra sesion</a>
          <a href="#" class="enlace">Perfil</a>
        </div> 
      </header>
</body>
</html>