@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* Estilos universales */
*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}
/* Inicio estilos encabezado */
h1{
    font-size: 40px;
    color: #fff;
    padding-left: 15px;
    display: inline-block;
}
.heading{
    background: #212F3C;
    padding: 5px;
}
.enlace{
    font-size: 17px;
    color: #fff;
    float: right;
    padding: 15px 20px;
    font-weight: bold;
    transition: all 500ms ease;
    text-decoration: none;
}
.enlace:hover{
    text-decoration: none;
    color: #fff;
    background: #3498DB;
    border-radius: 30px;
}
/* Fin estilos encabezado */